<style media="screen">
  a{
    text-decoration: none;
    color: #000;
  }
  li{
    list-style: none;
  }
</style>
<div class="col-md-3" >
           <div class="nav nav-stacked affix">
               <div class="well">
                 <div class="panel-default">
                     <h4 style="font-weight: bold;">Về tôi</h4>
                     <div class="row">
                       <div class="col-md-4">
                           <img src="images/users/volleyball.jpg" alt="" height="80px" width="80px">
                       </div>
                       <div class="col-md-8">
                           <p> <span style="font-weight: bold;">Tên:</span> Hoang Pham</p>
                           <p> <span style="font-weight: bold;">Biệt danh:</span> Múa cột</p>
                       </div>
                     </div>

                   <div class="panel-body" style="height: 72vh;">
                     <h5 style="font-weight: bold;">Nhóm: </h5>
                       <ul style="padding: 10px;">
                         <li><a href="#">Họ Phạm Đăng</a></li>
                         <li><a href="#">UIT</a></li>
                         <li><a href="#">KTX Đại học quốc gia</a></li>
                         <li><a href="#">Chị em Nông Lâm</a></li>
                         <li><a href="#">Chị em khu A</a></li>
                         <li><a href="#">Đội bóng xã Ea Tih</a></li>
                       </ul>
                     <h5 style="font-weight: bold;">Khám phá: </h5>
                       <ul style="padding: 10px;">
                         <li><span class="glyphicon glyphicon-calendar"></span><a href="#"> Sự kiện</a></li>
                         <li><span class="glyphicon glyphicon-heart-empty"></span><a href="#"> Nhóm</a></li>
                         <li><span class="glyphicon glyphicon-list-alt"></span><a href="#"> Danh sách bạn bè</a></li>
                         <li><span class="glyphicon glyphicon-cutlery"></span><a href="#"> Chọc</a></li>
                         <li><span class="glyphicon glyphicon-pushpin"></span><a href="#"> Địa điểm</a></li>
                         <li><span class="glyphicon glyphicon-flash"></span><a href="#">Thời tiết</a></li>
                       </ul>
                   </div>
                   <div class="panel-footer">

                   </div>
                 </div>
               </div>
               <!--/.well -->
           </div>

</div>

<div class="col-md-9">
      <!-- Send to feels -->
      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <form class="" action="index.html" method="post" >
            <div class="panel-defaut">
              <div class="panel-heading" style="background-color: #86723C" >
                    <p style="font-weight: bold;">Tạo bài viết của bạn</p>
              </div>
                    <!-- Cap nhat trang thai o day -->
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="col-md-2">
                      <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="92px" height="92px;" style="margin-right: 5px;">
                  </div>
                  <div class="col-md-10">
                      <input type="text" name="" value="" placeholder="Chia sẻ cảm xúc của bạn" class="form-control" style="width: 100%; height: 92px;">
                      <ul style="margin-top: 10px;">
                        <li><span class="glyphicon glyphicon-picture"></span><a href="#"> Ảnh</a></li>
                        <li><span class="glyphicon glyphicon-screenshot"></span><a href="#"> Check-in</a></li>
                        <li><span class="glyphicon glyphicon-pushpin"></span><a href="#"> Gắn thẻ bạn bè</a></li>
                      </ul>
                  </div>
                </div>






                    </div>
                      <!-- Vai shit! Cac chuc nang-->

                        <div class="text-right">
                          <select class="" name="" style="margin-top: 10px;">
                            <option value="">Mọi người</option>
                            <option value="">Bạn bè</option>
                            <option value="">Chỉ mình tôi</option>
                          </select>
                            <button type="submit" name="button" class="btn-primary"> ĐĂNG</button>
                        </div>


            </div>


          </form>
      </div>

      <!-- Cac cap nhat ve trang thai cua ban be -->

      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <div class="panel-defaut">
            <div class="panel-heading">
              <div class="row">
                          <div class="col-md-2">
                              <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="60px" height="60px;" style="margin-right: 5px;">
                          </div>
                          <div class="col-md-10">
                              <p style="font-weight: bold; font-size: 18px;">Dang Huu Trong</p>
                              <p>Vào lúc: 19h.....</p>
                          </div>
                        </div>
            </div>
            <div class="panel-body">
              <div class="text-center">
                  <p>Hôm nay là sinh nhật Thùy! Chúc Thùy sinh nhật vui vẻ!</p>
              </div>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Thích</a>
              <span class="glyphicon glyphicon-pencil"></span><a href="#"> Bình luận</a>
              <span class="glyphicon glyphicon-send"></span><a href="#"> Chia sẻ</a>
            </div>
          </div>
      </div>

      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <div class="panel-defaut">
            <div class="panel-heading">
              <div class="row">
                          <div class="col-md-2">
                              <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="60px" height="60px;" style="margin-right: 5px;">
                          </div>
                          <div class="col-md-10">
                              <p style="font-weight: bold; font-size: 18px;">Dang Huu Trong</p>
                              <p>Vào lúc: 19h.....</p>
                          </div>
                        </div>
            </div>
            <div class="panel-body">
              <div class="text-center">
                  <p>Hôm nay là sinh nhật Thùy! Chúc Thùy sinh nhật vui vẻ!</p>
              </div>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Thích</a>
              <span class="glyphicon glyphicon-pencil"></span><a href="#"> Bình luận</a>
              <span class="glyphicon glyphicon-send"></span><a href="#"> Chia sẻ</a>
            </div>
          </div>
      </div>

      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <div class="panel-defaut">
            <div class="panel-heading">
              <div class="row">
                          <div class="col-md-2">
                              <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="60px" height="60px;" style="margin-right: 5px;">
                          </div>
                          <div class="col-md-10">
                              <p style="font-weight: bold; font-size: 18px;">Dang Huu Trong</p>
                              <p>Vào lúc: 19h.....</p>
                          </div>
                        </div>
            </div>
            <div class="panel-body">
              <div class="text-center">
                  <p>Hôm nay là sinh nhật Thùy! Chúc Thùy sinh nhật vui vẻ!</p>
              </div>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Thích</a>
              <span class="glyphicon glyphicon-pencil"></span><a href="#"> Bình luận</a>
              <span class="glyphicon glyphicon-send"></span><a href="#"> Chia sẻ</a>
            </div>
          </div>
      </div>

      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <div class="panel-defaut">
            <div class="panel-heading">
              <div class="row">
                          <div class="col-md-2">
                              <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="60px" height="60px;" style="margin-right: 5px;">
                          </div>
                          <div class="col-md-10">
                              <p style="font-weight: bold; font-size: 18px;">Dang Huu Trong</p>
                              <p>Vào lúc: 19h.....</p>
                          </div>
                        </div>
            </div>
            <div class="panel-body">
              <div class="text-center">
                  <p>Hôm nay là sinh nhật Thùy! Chúc Thùy sinh nhật vui vẻ!</p>
              </div>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Thích</a>
              <span class="glyphicon glyphicon-pencil"></span><a href="#"> Bình luận</a>
              <span class="glyphicon glyphicon-send"></span><a href="#"> Chia sẻ</a>
            </div>
          </div>
      </div>

      <div class=form-group style="width: 70%; margin-left: 15%; background-color: #FFFFFF;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
          <div class="panel-defaut">
            <div class="panel-heading">
              <div class="row">
                          <div class="col-md-2">
                              <img src="images/users/volleyball.jpg" alt="hinhdaidien" width="60px" height="60px;" style="margin-right: 5px;">
                          </div>
                          <div class="col-md-10">
                              <p style="font-weight: bold; font-size: 18px;">Dang Huu Trong</p>
                              <p>Vào lúc: 19h.....</p>
                          </div>
                        </div>
            </div>
            <div class="panel-body">
              <div class="text-center">
                  <p>Hôm nay là sinh nhật Thùy! Chúc Thùy sinh nhật vui vẻ!</p>
              </div>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Thích</a>
              <span class="glyphicon glyphicon-pencil"></span><a href="#"> Bình luận</a>
              <span class="glyphicon glyphicon-send"></span><a href="#"> Chia sẻ</a>
            </div>
          </div>
      </div>

</div>
