<style media="screen">
  #menu ul li{
     color: #f1f1f1;
     display: inline-block;
     height: 40px;
     line-height: 40px;
     margin-left: -5px;
     font-size:16px;
     padding-left: 10px;
     width: 180px;
     border-left: 3px solid #E9EAED;
     text-align: center;
     font-weight: bold;
  }
  #menu ul li a{
    text-decoration: none;
  }
  #menu ul{
    list-style-type: none;
  }
  #menu ul li: hover {
    background: red;
  }
  #anhdaidien {
    border-radius: 50%;
  }
  #thongtin p:nth-child(2){
    color: #7D8385;
    font-style: italic;
  }
  #thongtin p {
    font-size: 17px;
  }
</style>
<div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="background-color: #FFF;">
          <div class="panel-defaut">
                <div class="panel-body">
                  <div class="col-md-5">
                    <img src="../images/users/vl.jpg" width="90%" height="90%" id="anhdaidien">
                    <div class="text-center" style="margin-top: 10px;">
                          <button type="button" name="button" class="btn-default"><span class="glyphicon glyphicon-refresh"></span> Thay đổi đại diện</button>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div id="thongtin">
                      <h3>Pham Dang Hoang</h3>
                      <p> "Khởi nguồn của sự sống là cái chết!</p>
                      <p>Nơi sống: <span>Thủ Đức, Thành Phố Hồ Chí Minh </span></p>
                      <p>Học tại: <span>Đại học Công nghệ thông tin - ĐHQG TPHCM </span></p>
                      <p>Thể thao yêu thích: <span>Bóng chuyền </span></p>
                    </div>

                    <div class="text-right">
                      <button type="button" name="button" class="btn-primary" style="height: 30px; width: 200px;"><span class="glyphicon glyphicon-envelope"></span> Gửi tin nhắn</button>
                      <button type="button" name="button" class="btn-default" style="height: 30px; width: 200px;"><span class="glyphicon glyphicon-plus"></span> Thêm bạn bè</button>
                    </div>
                  </div>
                </div>

                <div class="panel-footer">
                  <div id="menu">


                    <ul>
                      <li><a href="#">Trạng thái</a></li>
                      <li><a href="#">Bạn bè</a></li>
                      <li><a href="#">Giới thiệu</a></li>
                      <li><a href="#">Ảnh</a></li>
                      <li><a href="#">Nhật ký hoạt động</a></li>
                      <li><a href="#">Xem thêm</a></li>
                    </ul>

                  </div>
                </div>
          </div>

        </div>



        <div class="col-md-4">





        </div>

        <div class="col-md-8">

        </div>
      </div>


</div>
